@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  font-family: 'Kanit', sans-serif;
  color: #e74c3c;
  margin: 0;
}

#flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #f2f2f2;
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 40px 40px 40px 40px;
  background: white;
  width: 300px;
  margin: 0 10px 0 10px;
  text-align: center;
}

p {
  text-align: center;
  margin: 10px 0 10px 0;
  color: white;
  font-size: 11px;
}

.error {
  margin: 20px 0 0 0;
  color: red;
}

a {
  color: lightgreen;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid lightgreen;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  color: white;
  outline: none;
  padding-bottom: 18px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  width: 100%;
  margin: 10px 0 10px 0;
  resize: none;
}

input[type=submit] {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  margin: 10px 0 10px 0;
  background: white;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.22);
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #e74c3c;
}

form {
  height: auto;
  max-width: 300px;
  background: #e74c3c;
  padding: 40px;
  caret-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 0 10px 0 10px;
}

.containerProducent {
  display: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus {
  padding-bottom: 23px;
  border-bottom: 2px solid white;
  color: white;
}

::placeholder {
  font-size: 11px;
  color: white;
}

/* BUTTON */

.on-off {
  position: absolute;
  right: 50px;
  top: 5px;
}

.back {
  width: 42px;
  height: 19px;
  border: 2px solid white;
  background-color: lightgreen;
  position: absolute;
  border-radius: 160px;
  transition: background-color 300ms linear;
}

.back2 {
  width: 42px;
  height: 10px;
  background-color: grey;
  position: absolute;
  opacity: 0.1;
  top: 10px;
  left: 10px;
  border-radius: 160px;
  transition: background-color 300ms linear;
}

.front {
  padding: 8px 9px;
  width: 1px;
  height: 3px;
  border: 2px solid white;
  border-radius: 200px;
  position: absolute;
  left: 0;
  background-color: lightgrey;
}

.front:hover {
  cursor: pointer;
}
