@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  font-family: 'Kanit', sans-serif;
  color: #e74c3c;
  margin: 0;
}

#flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #f2f2f2;
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 40px 40px 40px 40px;
  background: white;
  max-width: 300px;
  margin: 0 10px 0 10px;
  text-align: center;
}

p {
  text-align: center;
  margin: 10px 0 10px 0;
  color: white;
  font-size: 11px;
}

.error {
  margin: 20px 0 0 0;
  color: red;
}

#containerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: lightgreen;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid lightgreen;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  color: white;
  outline: none;
  padding-bottom: 18px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  width: 100%;
  margin: 10px 0 10px 0;
  resize: none;
}

input[type=submit] {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  margin: 10px 0 10px 0;
  background: white;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.22);
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #e74c3c;
}

form {
  height: auto;
  max-width: 300px;
  background: #e74c3c;
  padding: 40px;
  caret-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 0 10px 0 10px;
}

.containerProducent {
  display: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus {
  padding-bottom: 23px;
  border-bottom: 2px solid white;
  color: white;
}

::placeholder {
  font-size: 11px;
  color: white;
}

/* BUTTON */

.on-off {
  position: absolute;
  right: 50px;
  top: 5px;
}

.back {
  width: 42px;
  height: 19px;
  border: 2px solid white;
  background-color: lightgreen;
  position: absolute;
  border-radius: 160px;
  transition: background-color 300ms linear;
}

.back2 {
  width: 42px;
  height: 10px;
  background-color: grey;
  position: absolute;
  opacity: 0.1;
  top: 10px;
  left: 10px;
  border-radius: 160px;
  transition: background-color 300ms linear;
}

.front {
  padding: 8px 9px;
  width: 1px;
  height: 3px;
  border: 2px solid white;
  border-radius: 200px;
  position: absolute;
  left: 0;
  background-color: lightgrey;
}

.front:hover {
  cursor: pointer;
}
.navbar2{
  display: none;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (min-width:480px) {
  .navbar {
      overflow: hidden;
      background-color: #e73c3c;
      font-family: Arial;
      text-align: center;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
    @media screen and (min-width:1000px) {
      .navbar {
         display: none;
        }
        .navbar2{
          overflow: hidden;
          background-color: #e73c3c;
          font-family: Arial;
          text-align: center;
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
        }
        .Navlink{
          color: #FFFFFF;
          text-decoration: none;
          text-align: center;
          padding-left: 5%;
          font-family: 'Fugaz One', cursive;
          padding-top: 3%;
          padding-bottom: 3%;
      }
      .Navlink:hover{
          color: #FFFFFF;
          text-decoration: none;
          text-align: center;
          padding-left: 5%;
          font-family: 'Fugaz One', cursive;
          font-size: 130%;
        }
      }

