<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> {{ username }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body>

    <div id="flex">

      <h2> Artikel med ID {{ listWithInfo[0] }} </h2>
      <h2> Information om {{ listWithInfo[3] }} </h2>
      <h2> Email: {{ listWithInfo[2] }} </h2>
      <h2> Telefonnummer: {{ listWithInfo[1] }} </h2>

    </div>

  </body>
</html>
