<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Buy </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/buy.css') }}">
  </head>
  <body>

    {% for i in kvitto %}

      <article id="container">

        <div id="over">
          <p> Tack för ditt köp! </p>
        </div>

        <div id="main">
          <h3> Från {{ i[6] }} </h3>
          <p id="subtitle"> Antal köp: {{ i[9] }} st </p>
          <p id="beskrivning"> Köpare: {{ byer }} </p>
          <p id="beskrivning"> Producent: {{ i[6] }} </p>
          <p id="beskrivning"> Telefonnummer: {{ i[4] }} </p>
          <p id="beskrivning"> Email: {{ i[5] }} </p>
          <p id="beskrivning"> Mat: {{ i[1] }} </p>
          <p id="beskrivning"> Artikelns ID: {{ i[0] }} </p>
          <p id="beskrivning"> Datum: {{ i[10] }} </p>
          <p id="beskrivning"> Tid: {{ i[11] }} </p>
          <p id="pris"> Att betala: <strike>{{ i[8] }}kr</strike> <span> {{ i[7] }}kr </span> </p>
        </div>

      </article>

    {% endfor %}

  </body>
</html>
