<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Foodtell </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/foodtell.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <div id="space"></div>

    <nav>
      <div id="first">
        <p> F </p>
        <p> O </p>
        <p> O </p>
        <p> D </p>
        <img id="logo" src="https://i.imgur.com/DhhwB2C.png">
        <p> T </p>
        <p> E </p>
        <p> L </p>
        <p> L </p>
      </div>

      <div id="second">
        <p> FOOD </p>
        <img id="logo" src="https://i.imgur.com/DhhwB2C.png">
        <p> TELL </p>
      </div>

      <a href="#vProducenter"> Verifierade producenter </a>
      <a href="#EJvProducenter"> Ej verifierade producenter </a>
      <a href="#konsumenter"> Konsumenter </a>
      <a href="#artiklar"> Artiklar </a>
      <a href="logout"> LOGGA UT </a>
    </nav>

    <h2 id="vProducenter"> Verifierade Producenter </h2>

    <div class="tablediv">

      <table>

        <tr>
            <th> Företagsnamn </th>
            <th> E-mail </th>
            <th> Nummer </th>
            <th> Avverifiera </th>
        </tr>

        {% for i in listVerified %}

          <tr>
            <td> {{ i[2] }} </td>
            <td> {{ i[1] }} </td>
            <td> {{ i[0] }} </td>
            <form action="/foodtell" method="POST">
              <input class="namn" type="text" name="telnr" value="{{ i[0] }}">
              <td> <input type="submit" name="avverifiera" value="Avverifiera konto"> </td>
            </form>
          </tr>

        {% endfor %}

      </table>

    </div>

    <h2 id="EJvProducenter"> EJ Verifierade Producenter </h2>

    <div class="tablediv">

      <table>

        <tr>
            <th> Företagsnamn </th>
            <th> E-mail </th>
            <th> Nummer </th>
            <th> Verifiera </th>
        </tr>

        {% for i in listNotVerified %}

          <tr>
            <td> {{ i[2] }} </td>
            <td> {{ i[1] }} </td>
            <td> {{ i[0] }} </td>
            <form action="/foodtell" method="POST">
              <input class="namn" type="text" name="telnr" value="{{ i[0] }}">
              <td> <input type="submit" name="verifiera" value="Verifiera konto"> </td>
            </form>
          </tr>

        {% endfor %}

      </table>

    </div>

    <h2 id="konsumenter"> Konsumenter </h2>

    <div class="tablediv">

      <table>

        <tr>
            <th> E-mail </th>
            <th> Förnamn </th>
            <th> Efternamn </th>
            <th> Telefonnummer </th>
            <th> Ta bort </th>
        </tr>

        {% for i in konsuments %}

          <tr>
            <td> {{ i[0] }} </td>
            <td> {{ i[1] }} </td>
            <td> {{ i[2] }} </td>
            <td> {{ i[3] }} </td>
            <form action="/foodtell" method="POST">
              <input class="namn" type="text" name="email" value="{{ i[0] }}">
              <td> <input type="submit" name="remove" value="Ta bort konto"> </td>
            </form>
          </tr>

        {% endfor %}

      </table>

    </div>

    <h2 id="artiklar"> Artiklar </h2>

    <div class="tablediv">

      <table id="articleTable">

        <tr>
            <th> ID </th>
            <th> Nummer </th>
            <th> Namn </th>
            <th> Beskrivning </th>
            <th> Pris </th>
            <th> Expired </th>
        </tr>

        {% for i in artiklar %}

          <tr>
            <td> {{ i[0] }} </td>
            <td> {{ i[1] }} </td>
            <td> {{ i[2] }} </td>
            <td id="beskrivning"> {{ i[3] }} </td>
            <td> {{ i[4] }} </td>
            <td> {{ i[5] }} </td>
          </tr>

        {% endfor %}

      </table>

    </div>

  </body>
</html>
