<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body>

    <div id="flex">

      <h2> Welcome, {{ username }} </h2>
      <a class="article" href="addarticle"> ADD ARTICLE </a>
      <a class="article" href="articles"> SHOW ARTICLES </a>
      <a id="logout" href="logout"> LOGOUT </a> </p>

    </div>

  </body>
</html>
