<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/home.css') }}">
    <script src="https://use.fontawesome.com/8216db457b.js"></script>
  </head>
  <body>

    <nav>
      <div id="second">
        <p> FOOD </p>
        <img id="logo" src="../static/images/logafoodtell.PNG">
        <p> TELL </p>
      </div>

      <p id="username"> {{ username }} </p>

      <a href="myorders"> SE DINA ORDERS </a>
      <a href="articles"> VISA ALLA ARTIKLAR </a>

      {% if producent != True %}
      <a href="producent"> VISA RESTAURANGER/CAFÉER </a>
      {% endif %}

      {% if producent == True %}
        <a href="addarticle"> LÄGG TILL EN ARTIKEL </a>
        <a href="myarticles"> DINA ARTIKLAR </a>
        <a href="orders"> ALLA ORDERS </a>
      {% endif %}

      <a href="logout"> LOGGA UT </a>
    </nav>

  </body>
</html>
