<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index.css') }}">
  </head>
  <body>

    <div id="container">

      <div id="second">
        <p> FOOD </p>
        <img id="logo" src="https://i.imgur.com/DhhwB2C.png">
        <p> TELL </p>
      </div>

      <a href="login"> LOGGA IN </a>
      <a href="register"> REGISTRERA DIG </a>

    </div>

  </body>
</html>
