<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Logga in </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/logreg.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
      <header>
          <div class="navbar">
                  <div class="temp"></div>
                  <a href="/">Foodtell</a>
                  <div class="dropdown">
                    <button class="dropbtn">Dropdown 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                          <a class="Navlink" href="articles">Erbjudanden</a> 
                          <a class="Navlink" href="login">Logga in</a>
                          <a class="Navlink" href="register">Registrera</a> 
                    </div>
                  </div> 
                  <div class="temp"></div>
                </div>
                <div class="navbar2">
                      <a class="Navlink" href="/">Foodtell</a>
                      <a class="Navlink" href="articles">Erbjudanden</a> 
                      <a class="Navlink" href="login">Logga in</a> 
                      <a class="Navlink" href="register">Registrera</a>
                    </div>
  </header>

    <div id="flex">

      <div id="containerAll">

        <div class="containerKonsument">
          <h2> KONSUMENT </h2>

          <form action="/home" method="POST">

            <input type="email" name="emailKonsument" placeholder="EMAIL" required>
            <input type="password" name="passwordKonsument" placeholder="LÖSENORD" required>
            <input type="submit" value="LOGGA IN" name="loginKonsument">

            <p> Har du inget konto? <a href="register"> Registrera dig här </a> </p>

            <div class="on-off">
              <div class="back2"></div>
              <div class="back"></div>
              <div class="front producentButton"></div>
            </div>

          </form>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <p class="{{ category }}"> {{ message }} </p>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        <div class="containerProducent">

          <h2> PRODUCENT </h2>

          <form action="/home" method="POST">

            <input type="text" name="numberProducent" placeholder="TELEFONNUMMER" required>
            <input type="password" name="passwordProducent" placeholder="LÖSENORD" required>
            <input type="submit" value="LOGGA IN" name="loginProducent">

            <p> Har du inget konto? <a href="register"> Registrera dig här </a> </p>

            <div class="on-off">
              <div class="back2"></div>
              <div class="back"></div>
              <div class="front konsumentButton"></div>
            </div>

          </form>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <p class="{{ category }}"> {{ message }} </p>
              {% endfor %}
            {% endif %}
          {% endwith %}

        </div>

      </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='JS/logreg.js') }}"></script>
  </body>

</html>
