<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Erbjudanden </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/artiklar.css') }}">
    <script src="https://use.fontawesome.com/8216db457b.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
  </head>
  <body>

    {% if empty == 0 %}

      <h2> Du har inga tillgängliga artiklar </h2>

    {% else %}

      <h2> Tillgängliga </h2>

      {% for rad in notExpired %}
        <article id="container">

          <div id="over">
            <p> {{ rad[8] }} </p>
            <p> Artikel {{ rad[0] }} </p>
          </div>

          <div id="main">
            <h3> {{ rad[1] }} </h3>
            <p id="subtitle"> Antal: {{ rad[5] }} st </p>
            <p id="beskrivning"> {{ rad[2] }} </p>
            <p id="pris"> <strike>{{ rad[6] }}kr</strike> {{ rad[7] }}kr </p>

            <div id="under">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <p class="appear"></p>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <p class="date"> {{ rad[3] }} </p>
              <p class="time"> &nbsp;&nbsp;{{ rad[4] }} </p>
            </div>

          </div>

        </article>

      {% endfor %}

    {% endif %}

    <script type="text/javascript" src="{{ url_for('static', filename='JS/artiklar.js') }}"></script>
    
  </body>
</html>
