<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Buy </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/manageorder.css') }}">
  </head>
  <body>

    {% if empty == 0 %}

      <h2> Du har inte beställt något </h2>

    {% else %}

      {% for i in listWithOrder %}

        <article id="container">

          <div id="over">
            <p> Ordernummer {{ i[0] }} </p>
          </div>

          <div id="main">
            <h3> Köp från {{ i[8] }} </h3>
            <p id="subtitle"> Antal köp: {{ i[5] }} st </p>
            <p id="beskrivning"> Köpare: {{ i[10] }} </p>
            <hr>
            <p id="beskrivning"> Restaurang: {{ i[8] }} </p>
            <p id="beskrivning"> Telefonnummer: {{ i[2] }} </p>
            <p id="beskrivning"> Email: {{ i[9] }} </p>
            <p id="beskrivning"> Adress: {{ i[12] }} </p>
            <hr>
            <p id="beskrivning"> Artikelns ID: {{ i[1] }} </p>
            <p id="beskrivning"> Namn på artikel: {{ i[11] }} </p>
            <p id="beskrivning"> Datum för köp: {{ i[6] }} </p>
            <p id="beskrivning"> Tid för köp: {{ i[7] }} </p>
            <p id="pris"> Att betala: <span> {{ i[4] }}kr </span> </p>

            {% if producent == True %}

              <form action="/removeorder" method="POST">
                <input id="dnone" type="name" name="ordernr" value="{{ i[0] }}">
                <input type="submit" value="REGISTRERA BETALD VARA">
              </form>

            {% endif %}

          </div>

        </article>

      {% endfor %}

    {% endif %}

  </body>

</html>
