<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Info </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/producent.css') }}">
  </head>
  <body>

    {% for i in listWithProducent %}
      <article id="container">
        <div id="over">
          <p> {{ i[2] }} </p>
        </div>

        <div id="main">
          <h3> KONTAKT </h3>
          <p class="subtitle"> {{ i[1] }} </p>
          <p class="subtitle"> {{ i[0] }} </p>
          <p class="subtitle last"> {{ i[3] }} </p>
        </div>
      </article>
    {% endfor %}

  </body>
</html>
