<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title> Registrera </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/logreg.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <div id="flex">

      <div class="containerKonsument">
        <h2> KONSUMENT REGISTER </h2>

        <form class="loginKonsument" action="/home" method="POST">

          <input type="text" name="fnamnKonsument" placeholder="FÖRNAMN" required>
          <input type="text" name="enamnKonsument" placeholder="EFTERNAMN" required>
          <input type="email" name="emailKonsument" placeholder="EMAIL" required>
          <input type="text" name="telnrKonsument" placeholder="NUMMER (+46)" pattern="[\+][4][6][7]\d{8}" title="Ange i följande format: +467XXXXXXXX" required>
          <input type="password" name="passwordKonsument" placeholder="LÖSENORD" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Lösenordet måste innehålla minst ett nummer, en versal och gemen bokstav och vara minst 8 tecken långt" required>
          <input type="submit" value="REGISTER" name="registerKonsument">

          <p> Already have an account? <a href="login"> Login here </a> </p>

          <div class="on-off">
            <div class="back2"></div>
            <div class="back"></div>
            <div class="front producentButton"></div>
          </div>

        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="{{ category }}"> {{ message }} </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

      </div>

      <div class="containerProducent">
        <h2> PRODUCENT REGISTER </h2>

        <form class="loginProducent" action="/home" method="POST">

          <input type="email" name="emailProducent" placeholder="EMAIL" required>
          <input type="text" name="usernameProducent" placeholder="FÖRETAGETS NAMN" required>
          <input type="text" name="adressProducent" placeholder="ADRESS" pattern="[a-zA-Z]+[\s][a-zA-Z0-9]+" title="Ange i följande format: Gatuadress NR" required>
          <input type="text" name="nummerProducent" placeholder="NUMMER (+46)" pattern="[\+][4][6][7]\d{8}" title="Ange i följande format: +467XXXXXXXX" required>
          <input type="password" name="passwordProducent" placeholder="LÖSENORD" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Lösenordet måste innehålla minst ett nummer, en versal och gemen bokstav och vara minst 8 tecken långt" required>
          <input type="submit" value="REGISTER" name="registerProducent">

          <p> Already have an account? <a href="login"> Login here </a> </p>

          <div class="on-off">
            <div class="back2"></div>
            <div class="back"></div>
            <div class="front konsumentButton"></div>
          </div>

        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p class="{{ category }}"> {{ message }} </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

      </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='JS/logreg.js') }}"></script>
  </body>

</html>
